<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{!modalData ? 'Add' : 'Edit'}} {{util.breadcrumb}}
    </h4>
</div>

<form [formGroup]="form" (ngSubmit)="addEdit()">
    <div class="modal-body">

        <div class="col-md-12">
            <div class="form-group">
                <label class="required">Category</label>
                <select (change)="changecategory()" formControlName="categoryId" class="form-control">
                    <option value="" disabled>Select Category</option>
                    <option [value]="data?._id" *ngFor="let data of allCategories">{{data?.name}}</option>
                </select>
                <div class="text-error" *ngIf="form.controls['categoryId'].errors?.required && showError">
                    Please select category.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="required">Thumbnail</label>
                    <div class="product-images">
                        <input type="file" class="file-upload" id="thumbnail" (change)="selectImage($event)">
                        <label for="thumbnail">
                            <img [src]="'/assets/img/ic_camera.png'">
                        </label>
                        <img class="ml-4 uploaded-img" height="72" for="thumbnail" [src]="form.value.thumbnail"
                             *ngIf='form.value.thumbnail'>
                        <i class="fa fa-times-circle fa-trash-css" (click)="removeImage()"
                           *ngIf='form.value.thumbnail'></i>
                    </div>
                    <div class="text-error" *ngIf="form.controls['thumbnail'].errors?.required && showError">
                        Please select Thumbnail.
                    </div>
                </div>
            </div>
        </div>
        <div formArrayName="data" class="row">

            <h3 class="form-heading col-md-12"> Data </h3>

            <div *ngFor="let val of form.controls.data['controls'];let i = index;let last=last"
                 [formGroupName]="i" class="col-lg-12">
                <div class="row">

                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="required">{{i + 1}}=> Enter Question</label>

                            <select formControlName="questionId" class="form-control">
                                <option value="" disabled>Select Question</option>
                                <option [value]="data?._id" *ngFor="let data of allQuestions">{{data?.name}}</option>
                            </select>

                            <!--                            <textarea type="text" formControlName="questionId" class="form-control"-->
                            <!--                                      placeholder="Enter QuestionId"></textarea>-->

                            <div class="text-error"
                                 *ngIf="val?.controls?.questionId?.errors?.required && showError">
                                This field is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div style="margin-top: 33px;">
                            <i class="fa fa-trash cursor-pointer delete-icon" (click)="data.removeAt(i)"
                               *ngIf="form?.value?.data?.length > 1 && last" style="margin-left: 10px"></i>
                            <i class="fa fa-plus cursor-pointer plus-icon" (click)="addItem()"
                               style="margin-left: 10px"></i>
                        </div>
                    </div>

                    <!-- <div class="col-md-10">
                        <div class="form-group">
                            <label class="required">Enter Answer</label>
                            <select formControlName="answerId" class="form-control">
                                <option value="" disabled>Select Answer</option>
                                <option [value]="data?._id" *ngFor="let data of allAnswers">{{data?.name}}</option>
                            </select>
                            <div class="text-error"
                                 *ngIf="val?.controls?.answerId?.errors?.required && showError">
                                This field is required.
                            </div>
                        </div>
                    </div> -->

                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="required">Answer Id</label>
                            <ng-multiselect-dropdown name="name" [data]="allAnswers" formControlName="answerId"
                                                     [settings]="dropdownSettings" style="width: 100%;">
                            </ng-multiselect-dropdown>
                            <div class="text-error" *ngIf="form.controls['data'].errors?.required && showError">
                                Please select id.
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="required">Video-Url</label>
                    <input type="text" formControlName="videoUrl" class="form-control"
                           placeholder="Enter Video-Url">
                    <div class="text-error" *ngIf="form.controls['videoUrl'].errors?.required && showError">
                        Please select Video-Url.
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="required">Description</label>
                    <textarea type="text" formControlName="description" class="form-control"
                              placeholder="Long Description"></textarea>
                    <div class="text-error" *ngIf="form.controls['description'].errors?.required && showError">
                        Please select description.
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="modal-footer">
        <div class="col-md-12 modal-footer-button">
            <button (click)="bsModalRef.hide()" type="button" class="btn btn-default mr-3">Cancel</button>
            <button type="submit" class="btn btn-primary">{{!modalData ? 'Submit' : 'Update'}}</button>
        </div>
    </div>
</form>
