<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{!modalData ? 'Add' : 'Edit'}} {{util?.breadcrumb}}
    </h4>
</div>

<form [formGroup]="form" (ngSubmit)="formSubmit()">
    <div class="modal-body">

        <!-- <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="required">Select Studio</label>
                    <select formControlName="studioId" class="form-control">
                        <option value="" disabled>Select Studio</option>
                        <option [value]="data?._id" *ngFor="let data of allData">
                            {{data?.image}}
                        </option>
                    </select>
                    <div class="text-error" *ngIf="form.controls['studioId'].errors?.required && showError">
                        This field is required.
                    </div>
                </div>
            </div>
        </div> -->
        <label class="required">Select Studio</label>
        <div class="row" >
            <div class="col-sm-4" *ngFor="let data of studioList;let i=index" >
                <input class="mr-4" id="male{{i}}" type="radio" [value]="data?._id" name="studioId"  formControlName="studioId">
                <label for="male{{i}}">
                    <img [src]="data.image" style= "width: 80px;height: 60px;">
                </label>
            </div>

        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label class="required">Cover Image</label>
                    <div class="product-images">
                        <input type="file" class="file-upload" id="coverImage" (change)="selectcoverImage($event)">
                        <label for="coverImage">
                            <img [src]="'/assets/img/ic_camera.png'">
                        </label>
                        <img class="ml-4 uploaded-img" height="72" for="coverImage" [src]="form.value.coverImage"
                             *ngIf='form.value.coverImage'>
                        <i class="fa fa-times-circle fa-trash-css" (click)="selectremoveImage()"
                           *ngIf='form.value.coverImage'></i>
                    </div>
                    <div class="text-error" *ngIf="form.controls['coverImage'].errors?.required && showError">
                        Please select Cover Image.
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label class="required">Image</label>
                    <div class="product-images">
                        <input type="file" class="file-upload" id="image" (change)="selectImage($event)">
                        <label for="image">
                            <img [src]="'/assets/img/ic_camera.png'">
                        </label>
                        <img class="ml-4 uploaded-img" height="72" for="image" [src]="form.value.image"
                             *ngIf='form.value.image'>
                        <i class="fa fa-times-circle fa-trash-css" (click)="removeImage()"
                           *ngIf='form.value.image'></i>
                    </div>
                    <div class="text-error" *ngIf="form.controls['image'].errors?.required && showError">
                        Please select image.
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="required">Title</label>
                    <textarea type="text" formControlName="title" class="form-control"
                              placeholder="Enter Title"></textarea>
                    <div class="text-error"
                         *ngIf="form?.controls?.title?.errors?.required && showError">
                        This field is required.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="required">Description</label>
                    <textarea type="text" formControlName="description" class="form-control"
                              placeholder="Enter Description"></textarea>
                    <div class="text-error"
                         *ngIf="form?.controls?.description?.errors?.required && showError">
                        This field is required.
                    </div>
                </div>
            </div>
        </div>
                      
        <div class="row">
            <h4 class="card-title col-md-12 float-left">Text </h4>
            <div class="col-md-12">
                <angular-editor [placeholder]="'Enter text here...'"formControlName="text"></angular-editor>
            </div>
        </div>
        
                                
                    
                
        
       

        </div>

    <div class="modal-footer">
        <div class="col-md-12 modal-footer-button">
            <button (click)="bsModalRef.hide()" type="button" class="btn btn-default mr-3">Cancel</button>
            <button type="submit" class="btn btn-primary">{{!modalData ? 'Submit' : 'Update'}}</button>
        </div>
    </div>
</form>



<!-- <div class="row">
    <h4 class="card-title col-md-12 float-left">Text </h4>
    <div class="col-md-12">
        <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="text"></angular-editor>
    </div>
</div> -->



