<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{!modalData ? 'Add' : 'Edit'}} {{util?.breadcrumb}}
    </h4>
</div>

<form [formGroup]="form" (ngSubmit)="formSubmit()">
    <div class="modal-body">


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="required">Name</label>
                    <input type="text" formControlName="name" class="form-control"
                              placeholder="Enter Name">
                              <div class="text-error" *ngIf="form.controls['name'].errors?.required && showError">
                                Please Enter Name.
                            </div>
                     </div>
                  </div>
               </div> 

       
</div>
    <div class="modal-footer">
        <div class="col-md-12 modal-footer-button">
            <button (click)="bsModalRef.hide()" type="button" class="btn btn-default mr-3">Cancel</button>
            <button type="submit" class="btn btn-primary">{{!modalData ? 'Submit' : 'Update'}}</button>
        </div>
    </div>
</form>
