<div class="row">
    <div class="col-md-12">
        <div class="card card-plain title-style-header">
            <div class="card-header card-header-without-back">
                <h4 class="card-title col-md-7">{{util?.breadcrumb}}</h4>
                <!-- <div class="row mt-3">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Filter</label>
                        <select [(ngModel)]="categoryId" class="form-control" (ngModelChange) ="oncategoryId($event)" >
                            <option value="" disabled>Select Child Center</option>
                            <option [value]="data?._id" *ngFor="let data of allCategories">{{data?.name}}</option>
                        </select>
                    </div>
                </div>
                </div> -->
                <div class="row mt-3">
                    <div class="col-md-3">
                        <input class="form-control" type="text" [ngModelOptions]="{standalone: true}"
                            placeholder="Search" [(ngModel)]="search">
                    </div>
                    <div class="col-md-2">
                        <button (click)="pagination.page = 1;getData()" class="btn btn-warning w-100">
                            Search
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button (click)="search = '';pagination.page = 1;getData()" class="btn btn-warning w-100">
                            Clear
                        </button>
                    </div>
                    <div class="col-md-2 offset-md-3">
                        <button (click)="addEditModalOpen()" class="btn btn-warning w-100">
                            Add +
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>Sr. No.</th>
                        <th>Answers</th>
                        <!-- <th>Questions</th> -->
                        <th>Actions</th>
                        </thead>
                        <tbody>
                        <tr
                                *ngFor="let data of allData | paginate: { itemsPerPage: pagination.perPage, currentPage: pagination.page, totalItems: pagination.count };let i = index;">
                            <td>{{ i + ( pagination.perPage * ( pagination.page - 1 ) ) + 1}}</td>
                            <!-- <td>
                                <img [src]="data?.image" class="list-img"
                                     (click)="util.openLightBox(data?.image)">
                            </td> -->
                            <td>{{data?.name}}</td>
                            <!-- <td>{{data?.questionId?.name}}</td> -->
                            <td style="white-space: pre;"> 
                                    <span class="fa-span">
                                        <i (click)="addEditModalOpen(data)"
                                           class="cursor-pointer action-fa fa fa-edit"></i>
                                    </span>
                                <!-- <span class="ml-3 fa-span">
                                    <i (click)="blockUnblock(data)"
                                       [ngClass]="!data.isBlocked ? 'fa fa-unlock' : 'fa fa-lock'"
                                       class="fa-css cursor-pointer action-fa"></i>
                                </span> -->
                                <span class="fa-span ml-3">
                                          <i (click)="deleteData(data,i)"
                                             class="fa-css cursor-pointer action-fa fa fa-trash"></i>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <app-no-record *ngIf="!pagination.count"></app-no-record>
                </div>

                <div class="row" *ngIf="pagination.count">
                    <div class="col-sm-6">
                        <p> Showing {{ pagination.count === 0 ? 0 : pagination.skip + 1 }} to
                            {{util.cal(pagination.page, pagination.perPage, pagination.count)}} out
                            of {{pagination.count}} entries </p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <pagination-controls (pageChange)="pagination.page = $event;getData()" directionLinks="true"
                                             autoHide="true" previousLabel="Previous" nextLabel="Next"
                                             screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                             screenReaderCurrentLabel="You're on page"></pagination-controls>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
