<div class="row">
    <div class="col-md-12">
        <div class="card card-plain title-style-header">
            <div class="card-header card-header-without-back">
                <h4 class="card-title col-md-7">{{util?.breadcrumb}}</h4>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <input class="form-control" type="text" [ngModelOptions]="{standalone: true}"
                               placeholder="Search" [(ngModel)]="search">
                    </div>
                    <div class="col-md-2">
                        <button (click)="pagination.page = 1;getData()" class="btn btn-warning w-100">
                            Apply
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button (click)="search = '';pagination.page = 1;getData()"
                                class="btn btn-warning w-100">
                            Clear
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Hello World -->

<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                        <tr>
                            <th>Sr. No.</th>
                            <!-- <th>Profile Picture</th> -->
                            <!-- <th>User Type</th> -->
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile Number</th>
                            <!-- <th>Gender</th> -->
                            <!-- <th>Country</th> -->
                            <th>CountryCode</th>
                            <th>Registered At</th>
                            <th>Action</th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr
                                *ngFor="let data of allData | paginate: { itemsPerPage: pagination.perPage, currentPage: pagination.page, totalItems: pagination.count };let i = index;">
                            <td class="big-image">{{ i + ( pagination.perPage * ( pagination.page - 1 ) ) + 1}}</td>
                            <!-- <td class=""> 
                                <img [src]="data?.profilePicture || '/assets/img/placeholder.png'" class="list-img"
                                (click)="util.openLightBox(data?.profilePicture)">
                            </td> -->
                            <!-- <td>{{data?.userType || '.N.A.'}}</td> -->
                            <!-- <td>{{data?.profilePicture || 'N.A.'}}</td> -->
                            <td>{{data?.fullName || 'N.A.'}}</td>
                            <td>{{data?.email || 'N.A.'}}</td>
                            <td>{{data?.mobileNumber || 'N.A.'}}</td>
                            <!-- <td>{{data?.gender || 'N.A.'}}</td> -->
                            <!-- <td>{{data?.country || 'N.A.'}}</td> -->
                            <td>{{data?.countryCode || 'N.A.'}}</td>
                            <td>{{data?.createdAt | date:'dd-MM-yyyy'}}</td>
                          
                            <!-- <td>{{data?.medicalPeroblem || 'N.A.'}}</td>
                            <td class="big-image">
                                <img [src]="data?.medicalReports" class="list-img"
                                     (click)="util.openLightBox(data?.medicalReports)">
                            </td> -->

                            <td class="big-image">
                                <span class="ml-3 fa-span">
                                    <i (click)="blockUnblock(data)"
                                       [ngClass]="!data.isBlocked ? 'fa fa-unlock' : 'fa fa-lock'"
                                       class="fa-css cursor-pointer action-fa"></i>
                                </span>
                                <!-- <span class="fa-span ml-3">
                                          <i (click)="deleteData(data)"
                                             class="fa-css cursor-pointer action-fa fa fa-trash"></i>
                                </span> -->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <app-no-record *ngIf="!pagination.count"></app-no-record>
                </div>

                <div class="row" *ngIf="pagination.count">
                    <div class="col-sm-6">
                        <p> Showing {{ pagination.count === 0 ? 0 : pagination.skip + 1 }} to
                            {{util.cal(pagination.page, pagination.perPage, pagination.count)}} out
                            of {{pagination.count}} entries </p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <pagination-controls (pageChange)="pagination.page = $event;getData()" directionLinks="true"
                                             autoHide="true" previousLabel="Previous" nextLabel="Next"
                                             screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                             screenReaderCurrentLabel="You're on page"></pagination-controls>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
