<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{!modalData ? 'Add' : 'Edit'}} {{util?.breadcrumb}}
    </h4>
</div>

<form [formGroup]="form" (ngSubmit)="formSubmit()">
    <div class="modal-body">

        <div class="row">
            <h3 class="form-heading col-md-12">Email</h3>
        <div class="col-lg-7 col-md-7 ">
            <div class="form-group">
                <label class="required">email</label>
                <input type="text" formControlName="email" class="form-control"
                       placeholder="Email">
                       <div class="text-error" *ngIf="form.controls['email'].errors?.required && showError">
                        This field is required.
                    </div>
            </div>
        </div>
        </div>
        
        
        <div class="row">
            <h3 class="form-heading col-md-12"> Instagram Url</h3>       

                    <div class="col-lg-10 col-md-12 ">
                        <div class="form-group">
                            <label class="required">Instagram Url</label>
                            <textarea type="text" formControlName="instagramUrl" class="form-control"
                                      placeholder="Instagram Url"></textarea>
                                      <div class="text-error" *ngIf="form.controls['instagramUrl'].errors?.required && showError">
                                        This field is required.
                                    </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h3 class="form-heading col-md-12"> Country Code</h3>       
        
                            <div class="col-lg-10 col-md-12 ">
                                <div class="form-group">
                                    <label class="required">countryCode</label>
                                    <textarea type="text" formControlName="countryCode" class="form-control"
                                              placeholder="countryCode"></textarea>
                                              <div class="text-error" *ngIf="form.controls['countryCode'].errors?.required && showError">
                                                This field is required.
                                            </div>
                                      </div>
                                   </div>
                              </div>


                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="number"> Mobile Number</label>
                        <input type="text" class="form-control" id="usr"formControlName="mobileNumber" appAmount>
                        <div class="text-error" *ngIf="form.controls['mobileNumber'].errors?.required && showError">
                            This field is required.
                      </div>
                    </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="required">Call Start Time</label>
                            <timepicker formControlName="callStartTime"></timepicker>
                            <!-- <textarea type="text" formControlName="timeDuration" class="form-control"
                                      placeholder="timeDuration"></textarea> -->
                            <div class="text-error"
                                 *ngIf="form?.controls?.callStartTime?.errors?.required && showError">
                                This field is required.
                            </div>
                        </div>
                    </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="required">call End Time</label>
                                <timepicker formControlName="callEndTime"></timepicker>
                                <!-- <textarea type="text" formControlName="timeDuration" class="form-control"
                                          placeholder="timeDuration"></textarea> -->
                                <div class="text-error"
                                     *ngIf="form?.controls?.callEndTime?.errors?.required && showError">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                         </div>











        </div>

    <div class="modal-footer">
        <div class="col-md-12 modal-footer-button">
            <button (click)="bsModalRef.hide()" type="button" class="btn btn-default mr-3">Cancel</button>
            <button type="submit" class="btn btn-primary">{{!modalData ? 'Submit' : 'Update'}}</button>
        </div>
    </div>
</form>
