<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{!modalData ? 'Add' : 'Edit'}} {{util.breadcrumb}}
    </h4>
</div>

<form [formGroup]="form" (ngSubmit)="addEdit()">
    <div class="modal-body">

        <!-- <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="required">Select Studio</label>
                    <select formControlName="studioId" class="form-control">
                        <option value="" disabled>Select Studio</option>
                        <option [value]="data?._id" *ngFor="let data of allData">
                            {{data?.image}}
                        </option>
                    </select>
                    <div class="text-error" *ngIf="form.controls['studioId'].errors?.required && showError">
                        This field is required.
                    </div>
                </div>
            </div>
        </div> -->
        <label class="required">Select Studio</label>
        <div class="row">
            <div class="col-sm-4" *ngFor="let data of studioList;let i=index">
                <input class="mr-4" id="male{{i}}" type="radio" [value]="data?._id" name="studioId"
                       formControlName="studioId" (click)="studioClick(data)">
                <label for="male{{i}}">
                    <img [src]="data.image" style="width: 80px;height: 60px;">
                </label>
            </div>

        </div>


        <!-- <div >

            <input class="mr-4" id="male{{i}}" type="radio" [value]="data?._id" name="studioId"  formControlName="studioId">
            <label for="male{{i}}">
                <img [src]="data.image" style= "width: 80px;">
            </label>
         </div>
 -->
        <div class="col-md-8">
            <div class="form-group">
                <label class="required">Plan Id</label>
                <ng-multiselect-dropdown name="name" [data]="allPlan" formControlName="planId"
                                         [settings]="dropdownSettings" style="width: 100%;">
                </ng-multiselect-dropdown>
                <div class="text-error" *ngIf="form.controls['planId'].errors?.required && showError">
                    Please select id.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="required">Image</label>
                    <div class="product-images">
                        <input type="file" class="file-upload" id="image" (change)="selectImage($event)">
                        <label for="image">
                            <img [src]="'/assets/img/ic_camera.png'">
                        </label>
                        <img class="ml-4 uploaded-img" height="72" for="image" [src]="form.value.image"
                             *ngIf='form.value.image'>
                        <i class="fa fa-times-circle fa-trash-css" (click)="removeImage()"
                           *ngIf='form.value.image'></i>
                    </div>
                    <div class="text-error" *ngIf="form.controls['image'].errors?.required && showError">
                        Please select image.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="required">Name</label>
                    <textarea type="text" formControlName="name" class="form-control"
                              placeholder="Name"></textarea>
                    <div class="text-error" *ngIf="form.controls['name'].errors?.required && showError">
                        Please Enter Name.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="required">Date</label>
                    <input type="text" class="form-control" formControlName="date" [minDate]="minDate"
                           [maxDate]="maxDate"
                           bsDatepicker placeholder="Select Date"
                           [bsConfig]="{ dateInputFormat : 'DD-MM-YYYY'}">
                    <div class="text-error"
                         *ngIf="form?.controls?.date?.errors?.required && showError">
                        This field is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="required">Description</label>
                    <textarea type="text" formControlName="discription" class="form-control"
                              placeholder="Enter Description"></textarea>
                    <div class="text-error"
                         *ngIf="form?.controls?.discription?.errors?.required && showError">
                        This field is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="required">Start Time</label>
                    <timepicker formControlName="startTime"
                                [min]="nowTime"></timepicker>
                    <!-- <textarea type="text" formControlName="timeDuration" class="form-control"
                              placeholder="timeDuration"></textarea> -->
                    <div class="text-error"
                         *ngIf="form?.controls?.startTime?.errors?.required && showError">
                        This field is required.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="required">Duration Time (In Min.)</label>
                    <!--                                     <timepicker formControlName="durationTime" ></timepicker>-->
                    <input type="text" class="form-control" formControlName="durationTime" appNumberOnly>

                    <!-- <timepicker [showMeridian]="true"
                    formControlName="durationTime">
                      </timepicker> -->
                    <!-- <textarea type="text" formControlName="timeDuration" class="form-control"
                              placeholder="timeDuration"></textarea> -->
                    <div class="text-error"
                         *ngIf="form?.controls?.durationTime?.errors?.required && showError">
                        This field is required.
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="number">Price:</label>
                <input type="text" class="form-control" id="usr"formControlName="price" appAmount>
                <div class="text-error" *ngIf="form.controls['price'].errors?.required && showError">
                  Please Enter Price.
              </div>
              </div>
            </div>
        </div> -->

        <!-- <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="required">Currency</label>
                    <textarea type="text" formControlName="currency" class="form-control"
                              placeholder="currency"></textarea>
                              <div class="text-error" *ngIf="form.controls['currency'].errors?.required && showError">
                                Please Enter Currency.
                            </div>
                     </div>
                  </div>
               </div>  -->


    </div>


    <div class="modal-footer">
        <div class="col-md-12 modal-footer-button">
            <button (click)="bsModalRef.hide()" type="button" class="btn btn-default mr-3">Cancel</button>
            <button type="submit" class="btn btn-primary">{{!modalData ? 'Submit' : 'Update'}}</button>
        </div>
    </div>
</form>
