<div class="row">
    <div class="col-md-12">
        <div class="card card-plain title-style-header">
            <div class="card-header card-header-without-back">
                <h4 class="card-title col-md-6 float-left">{{util?.breadcrumb}}</h4>

                <button (click)="addEditModalOpen()" class="btn btn-primary float-right" style="margin-top: 0;">
                    + Add New
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                        <tr>
                        <th>Sr. No.</th>
                        <th>Image</th>
                        <!-- <th>Name</th>
                        <th>Long Description</th>
                        <th>Short Description</th> -->
                        <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr
                                *ngFor="let data of allData | paginate: { itemsPerPage: pagination.perPage, currentPage: pagination.page, totalItems: pagination.count };let i = index;">
                            <td class="big-image">{{ i + ( pagination.perPage * ( pagination.page - 1 ) ) + 1}}</td>
                            <td class="big-image">
                                <img [src]="data?.image" class="list-img"
                                     (click)="util.openLightBox(data?.image)">
                            </td>
                            <!-- <td class="big-image">{{data?.name}}</td>
                            <td class="big-image">{{data?.longDiscription}}</td>
                            <td class="big-image">{{data?.shortDiscription}}</td> -->

                            <td class="big-image">
                                    <span class="fa-span">
                                        <i (click)="addEditModalOpen(data)"
                                           class="cursor-pointer action-fa fa fa-edit"></i>
                                    </span>
                                <span class="ml-3 fa-span">
                                    <i (click)="blockUnblock(data)"
                                       [ngClass]="!data.isBlocked ? 'fa fa-unlock' : 'fa fa-lock'"
                                       class="fa-css cursor-pointer action-fa"></i>
                                </span>
                                <span class="fa-span ml-3">
                                          <i (click)="deleteData(data)"
                                             class="fa-css cursor-pointer action-fa fa fa-trash"></i>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <app-no-record *ngIf="!pagination.count"></app-no-record>
                </div>

                <div class="row" *ngIf="pagination.count">
                    <div class="col-sm-6">
                        <p> Showing {{ pagination.count === 0 ? 0 : pagination.skip + 1 }} to
                            {{util.cal(pagination.page, pagination.perPage, pagination.count)}} out
                            of {{pagination.count}} entries </p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <pagination-controls (pageChange)="pagination.page = $event;getData()" directionLinks="true"
                                             autoHide="true" previousLabel="Previous" nextLabel="Next"
                                             screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                             screenReaderCurrentLabel="You're on page"></pagination-controls>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
