<header class="app-header"><a class="app-header__logo" href="javascript://">DoLoop Admin</a>
    <a class="app-sidebar__toggle" href="javascript://" data-toggle="sidebar" aria-label="Hide Sidebar"
        (click)="showSideBar = !showSideBar;closeNav()"></a>
    <!-- Navbar Right Menu-->

    <ul class="app-nav">
        <li class="item_btn"></li>

        <li class="item_btn" style="display: inline-flex;">
            <button class="btn btn-primary" (click)="fullScreen()">Full Screen</button>
        </li>
    </ul>

</header>
