<div class="row">
    <div class="col-md-12">
        <div class="card card-plain title-style-header">
            <div class="card-header card-header-without-back">
                <h4 class="card-title col-md-6 float-left">{{util?.breadcrumb}}</h4>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>Sr. No.</th>
                        <Th>Full Name</Th>
                        <th>Email</th>
                        <th> Queries </th>
                        </thead>
                        <tbody>
                        <tr
                                *ngFor="let data of allData | paginate: { itemsPerPage: pagination.perPage, currentPage: pagination.page, totalItems: pagination.count };let i = index;">
                            <td>{{ i + ( pagination.perPage * ( pagination.page - 1 ) ) + 1}}</td>

                            
                            <td>{{data?.fullName}}</td>
                            <td>{{data?.email}}</td>
                            <td>{{data?.query}}</td>
                            
                        </tr>
                        </tbody>
                    </table>
                    <app-no-record *ngIf="!pagination.count"></app-no-record>
                </div>

                <div class="row" *ngIf="pagination.count">
                    <div class="col-sm-6">
                        <p> Showing {{ pagination.count === 0 ? 0 : pagination.skip + 1 }} to
                            {{util.cal(pagination.page, pagination.perPage, pagination.count)}} out
                            of {{pagination.count}} entries </p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <pagination-controls (pageChange)="pagination.page = $event;getData()" directionLinks="true"
                                             autoHide="true" previousLabel="Previous" nextLabel="Next"
                                             screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                             screenReaderCurrentLabel="You're on page"></pagination-controls>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
