<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{!modalData ? 'Add' : 'Edit'}} {{util?.breadcrumb}}
    </h4>
</div>

<form [formGroup]="form" (ngSubmit)="formSubmit()">
    <div class="modal-body">

        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                    <label class="required">Type</label>
                    <select class="form-control" formControlName="type">
                        <option value="AGE_RANGE">Age Range</option>
                        <option value="AUTISUM_LEVEL">Austisum Level</option>
                        <option value="SPEAKING">Speaking</option>
                        <option value="ACTIVITY">Activity</option>
                        <option value="QUALIFICATION">Qualification</option>
                    </select>
                    <div class="text-error"
                         *ngIf="form?.controls?.type?.errors?.required && showError">
                        This field is required.
                    </div>
                </div>
            </div>
      </div>
       

        <div formArrayName="value" class="row">

            <h3 class="form-heading col-md-12"> Value </h3>

            <div *ngFor="let val of form.controls.value['controls'];let i = index;let last=last"
                 [formGroupName]="i" class="col-lg-12">
                <div class="row">

                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="required">Value</label>
                            <textarea type="text" formControlName="value" class="form-control"
                            placeholder="Value"></textarea>
                            <div class="text-error"
                                 *ngIf="val?.controls?.value?.errors?.required && showError">
                                This field is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2">
                        <div style="    margin-top: 33px;">
                            <i class="fa fa-trash cursor-pointer delete-icon" (click)="value.removeAt(i)"
                               *ngIf="form?.value?.value?.length > 1"style="margin-left: 10px"></i>
                            <i class="fa fa-plus cursor-pointer plus-icon" (click)="addItem('value')"
                               style="margin-left: 10px"></i>
                        </div>
                    </div>

                </div>

            </div>
        </div>

       
</div>
    <div class="modal-footer">
        <div class="col-md-12 modal-footer-button">
            <button (click)="bsModalRef.hide()" type="button" class="btn btn-default mr-3">Cancel</button>
            <button type="submit" class="btn btn-primary">{{!modalData ? 'Submit' : 'Update'}}</button>
        </div>
    </div>
</form>
