<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{!modalData ? 'Add' : 'Edit'}} {{util?.breadcrumb}}
    </h4>
</div>

<form [formGroup]="form" (ngSubmit)="formSubmit()">
    <div class="modal-body">


        <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="number">Price</label>
                <input type="text" class="form-control" id="usr"formControlName="price"placeholder="Enter Price" appAmount>
                <div class="text-error" *ngIf="form.controls['price'].errors?.required && showError">
                    This field is required.
              </div>
              </div>
            </div>
        </div>

               <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="required">Currency</label>
                        <input type="text" formControlName="currency" class="form-control"
                                  placeholder="Enter currency">
                                  <div class="text-error" *ngIf="form.controls['currency'].errors?.required && showError">
                                    Please Enter Currency.
                                </div>
                         </div>
                      </div>
                   </div> 

        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                    <label class="required">Type</label>
                    <select class="form-control" formControlName="type">
                        <option value="Monthly">Monthly</option>
                        <option value="Annually">Annually</option>
                    </select>
                    <div class="text-error"
                         *ngIf="form?.controls?.type?.errors?.required && showError">
                        This field is required.
                    </div>
                </div>
            </div>
      </div>
       

      
       
</div>
    <div class="modal-footer">
        <div class="col-md-12 modal-footer-button">
            <button (click)="bsModalRef.hide()" type="button" class="btn btn-default mr-3">Cancel</button>
            <button type="submit" class="btn btn-primary">{{!modalData ? 'Submit' : 'Update'}}</button>
        </div>
    </div>
</form>
