<div class="row">
    <div class="col-md-12">
        <div class="card card-plain title-style-header">
            <div class="card-header">
                <h4 class="card-title col-md-6 float-left"> About Us </h4>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-body">
                <div class="row">

                    <h4 class="card-title col-md-12 float-left"> About Us </h4>
                    <div class="col-md-12">
                        <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="text"></angular-editor>
                    </div>

                    <div class="col-md-12" style="margin-top: 20px;" *ngIf="update">
                        <button type="button" (click)="submitForm()" class="btn btn-primary float-right">Submit</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>