<div class="row">
    <div class="col-md-12">
        <div class="card card-plain title-style-header">
            <div class="card-header">
                <h4 class="card-title col-md-6 float-left">
                   Terms And Conditions
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-body">
                <div class="row">

                    <!-- <div class="col-md-12">
                        <label class="setting-label">Policy</label>
                        <angular-editor [placeholder]="'Enter text here....'"
                                        [(ngModel)]="policy"></angular-editor>
                    </div> -->

                    <!-- <div class="col-md-12">
                        <label class="setting-label">Terms</label>
                        <angular-editor [placeholder]="'Enter text here...'"
                                        [(ngModel)]="terms"></angular-editor>
                    </div> -->
                        <h4 class="card-title col-md-12 float-left"> Terms and Conditions  </h4>
                        <div class="col-md-12">
                            <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="terms"></angular-editor>
                        </div>
                    <div class="col-md-12" style="margin-top: 20px;">
                        <button type="button" (click)="submitForm()" class="btn btn-primary float-right">Submit</button>
                    </div>
                </div>

            </div>

            <!-- <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <label class="setting-label">In Spanish</label>
                        <angular-editor [placeholder]="'Enter text here...(In Spanish)'"
                                        [(ngModel)]="spanish"></angular-editor>
                    </div>

                    <div class="col-md-12" style="margin-top: 20px;">
                        <button type="button" (click)="submitForm()" class="btn btn-primary float-right">Submit</button>
                    </div>

                </div>
            </div> -->
        </div>
    </div>
</div>
