<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{!modalData ? 'Add' : 'Edit'}} {{util.breadcrumb}}
    </h4>
</div>

<form [formGroup]="form" (ngSubmit)="addEdit()">
    <div class="modal-body">
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="required">Select Studio</label>
                    <select formControlName="studioId" class="form-control">
                        <option value="" disabled>Select Studio</option>
                        <option [value]="data?._id" *ngFor="let data of allData">
                            {{data?.image}}
                        </option>
                    </select>
                    <div class="text-error" *ngIf="form.controls['studioId'].errors?.required && showError">
                        This field is required.
                    </div>
                </div>
            </div>
        </div> -->
        <label class="required">Select Studio</label>
        <div class="row" >
            <div class="col-sm-4" *ngFor="let data of allData;let i=index" >
                <input class="mr-4" id="male{{i}}" type="radio" [value]="data?._id" name="studioId"  formControlName="studioId">
                <label for="male{{i}}">
                    <img [src]="data.image" style= "width: 80px;height: 60px;">
                </label>
            </div>

        </div>
        <!-- <div *ngFor="let data of allData;let i=index">

            <input class="mr-4" id="male{{i}}" type="radio" [value]="data?._id" name="studioId"  formControlName="studioId">
            <label for="male{{i}}">
                <img [src]="data.image" style= "width: 80px;">
            </label>
         </div> -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="required">Name</label>
                            <textarea type="text" formControlName="name" class="form-control"
                                      placeholder="Enter Name"></textarea>
                                      <div class="text-error" *ngIf="form.controls['name'].errors?.required && showError">
                                        Please Enter Name.
                                    </div>
                             </div>
                          </div>
                       </div> 

                       <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="number">Number of Classes</label>
                            <input type="text" class="form-control" id="usr"formControlName="numberOfClasses"placeholder="Enter Number of Classes" appAmount>
                            <div class="text-error" *ngIf="form.controls['numberOfClasses'].errors?.required && showError">
                              Please Enter Number Of Classes.
                          </div>
                          </div>
                        </div>
                    </div>
                       
                    <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="number">Price</label>
                            <input type="text" class="form-control" id="usr"formControlName="price"  placeholder="Enter Price" appAmount>
                            <div class="text-error" *ngIf="form.controls['price'].errors?.required && showError">
                              Please Enter Price.
                          </div>
                          </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="required">Currency</label>
                                <textarea type="text" formControlName="currency" class="form-control"
                                          placeholder="$"></textarea>
                                          <div class="text-error" *ngIf="form.controls['currency'].errors?.required && showError">
                                            Please Enter Currency.
                                        </div>
                                 </div>
                              </div>
                           </div> 

                       
                     </div>

            
    <div class="modal-footer">
        <div class="col-md-12 modal-footer-button">
            <button (click)="bsModalRef.hide()" type="button" class="btn btn-default mr-3">Cancel</button>
            <button type="submit" class="btn btn-primary">{{!modalData ? 'Submit' : 'Update'}}</button>
        </div>
    </div>
</form>
