<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{!modalData ? 'Add' : 'Edit'}} {{util.breadcrumb}}
    </h4>
</div>

<form [formGroup]="form" (ngSubmit)="addEdit()">
    <div class="modal-body">

        <!-- <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="required">Image</label>
                    <div class="product-images">
                        <input type="file" class="file-upload" id="image" (change)="selectImage($event)">
                        <label for="image">
                            <img [src]="'/assets/img/ic_camera.png'">
                        </label>
                        <img class="ml-4 uploaded-img" height="72" for="image" [src]="form.value.image"
                             *ngIf='form.value.image'>
                        <i class="fa fa-times-circle fa-trash-css" (click)="removeImage()"
                           *ngIf='form.value.image'></i>
                    </div>
                    <div class="text-error" *ngIf="form.controls['image'].errors?.required && showError">
                        Please select image.
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="required">Message</label>
                            <textarea type="text" formControlName="message" class="form-control"
                                      placeholder="Enter Message"></textarea>
                                      <div class="text-error" *ngIf="form.controls['message'].errors?.required && showError">
                                        Please select description.
                                    </div>
                        </div>
                    </div>
    
                </div>
     
                <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="required">Short Description</label>
                            <textarea type="text" formControlName="shortDiscription" class="form-control"
                                      placeholder="Short Description"></textarea>
                                      <div class="text-error" *ngIf="form.controls['shortDiscription'].errors?.required && showError">
                                        Please select image.
                                    </div>
                        </div>
                    </div>
</div> -->
                    <!-- <div class="col-md-3">
                        <div style="    margin-top: 33px;">
                            <i class="fa fa-trash cursor-pointer delete-icon" (click)="langDetail.removeAt(i)"
                               *ngIf="form?.value?.langDetail?.length > 1"></i>
                            <i class="fa fa-plus cursor-pointer plus-icon" (click)="addItem()"
                               *ngIf="form?.value?.langDetail?.length < util?.CONSTANT?.languages?.length"  style="margin-left: 10px"></i>
                        </div>
                    </div> -->

                </div>

            
    <div class="modal-footer">
        <div class="col-md-12 modal-footer-button">
            <button (click)="bsModalRef.hide()" type="button" class="btn btn-default mr-3">Cancel</button>
            <button type="submit" class="btn btn-primary">{{!modalData ? 'Submit' : 'Update'}}</button>
        </div>
    </div>
</form>
