<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{!modalData ? 'Add' : 'Edit'}} {{util?.breadcrumb}}
    </h4>
</div>

<form [formGroup]="form" (ngSubmit)="formSubmit()">
    <div class="modal-body">
<!-- 
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="required">Select Studio</label>
                    <select formControlName="studioId" class="form-control">
                        <option value="" disabled>Select Studio</option>
                        <option [value]="data?._id" *ngFor="let data of studioList">
                            {{data?.image}}
                        </option>
                    </select>
                    <div class="text-error" *ngIf="form.controls['studioId'].errors?.required && showError">
                        This field is required.
                    </div>
                </div>
            </div>
        </div> -->
        <label class="required">Select Studio</label>
        <div class="row" >
            <div class="col-sm-4" *ngFor="let data of studioList;let i=index" >
                <input class="mr-4" id="male{{i}}" type="radio" [value]="data?._id" name="studioId"  formControlName="studioId">
                <label for="male{{i}}">
                    <img [src]="data.image" style= "width: 80px;height: 60px;">
                </label>
            </div>

        </div>
        <!-- <div *ngFor="let data of studioList;let i=index">

            <input id="male{{i}}" type="radio" [value]="data?._id" name="studioId"  formControlName="studioId">
            <label for="male{{i}}">
                <img [src]="data.image" style= "width: 80px;">
            </label>
         </div> -->

         <div class="row">       
                    <div class="col-lg-10 col-md-12 ">
                        <div class="form-group">
                            <label class="required">Name</label>
                            <textarea type="text" formControlName="name" class="form-control"
                                      placeholder="Name"></textarea>
                                      <div class="text-error" *ngIf="form.controls['name'].errors?.required && showError">
                                        This field is required.
                                    </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">      
                    <div class="col-lg-10 col-md-12 ">
                        <div class="form-group">
                            <label class="required">Currency</label>
                            <textarea type="text" formControlName="currency" class="form-control"
                                      placeholder="Currency"></textarea>
                                      <div class="text-error" *ngIf="form.controls['currency'].errors?.required && showError">
                                        This field is required.
                                    </div>
                        </div>
                    </div>
                </div>
                <div class="row">      
                    <div class="col-lg-10 col-md-12 ">
                        <div class="form-group">
                            <label class="required">Title</label>
                            <textarea type="text" formControlName="title" class="form-control"
                                      placeholder="Title"></textarea>
                                      <div class="text-error" *ngIf="form.controls['title'].errors?.required && showError">
                                        This field is required.
                                    </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="required">Start Date</label>
                            <input type="text" class="form-control" formControlName="startDate" [minDate]="minDate"
                                   [maxDate]="maxDate"
                                   bsDatepicker placeholder="Select Start Date"
                                   [bsConfig]="{ dateInputFormat : 'DD-MM-YYYY'}">
                            <div class="text-error"
                                 *ngIf="form?.controls?.startDate?.errors?.required && showError">
                                This field is required.
                            </div>
                        </div>
                    </div>
                </div>  <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="required">End Date</label>
                            <input type="text" class="form-control" formControlName="endDate" [minDate]="minDate"
                                   [maxDate]="maxDate"
                                   bsDatepicker placeholder="Select End Date"
                                   [bsConfig]="{ dateInputFormat : 'DD-MM-YYYY'}">
                            <div class="text-error"
                                 *ngIf="form?.controls?.endDate?.errors?.required && showError">
                                This field is required.
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="required">Start Date - End Date</label>
                        <input type="text" class="form-control" formControlName="dates"
                               bsDaterangepicker placeholder="Select Start Date - End Date"
                               [bsConfig]="{ rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false }">
                        <div class="text-error"
                             *ngIf="form?.controls?.dates?.errors?.required && showError">
                            This field is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="number">Price</label>
                        <input type="text" class="form-control" id="usr"formControlName="price"placeholder="Enter Price" appAmount>
                        <div class="text-error" *ngIf="form.controls['price'].errors?.required && showError">
                            This field is required.
                      </div>
                      </div>
                    </div>
                </div>
       

        <div formArrayName="rules" class="row">

            <h3 class="form-heading col-md-12"> Rules </h3>

            <div *ngFor="let val of form.controls.rules['controls'];let i = index;let last=last"
                 [formGroupName]="i" class="col-lg-12">
                <div class="row">

                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="required">Enter Rules</label>
                            <textarea type="text" formControlName="rules" class="form-control"
                            placeholder="Rules"></textarea>
                            <div class="text-error"
                                 *ngIf="val?.controls?.rules?.errors?.required && showError">
                                This field is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2">
                        <div style="    margin-top: 33px;">
                            <i class="fa fa-trash cursor-pointer delete-icon" (click)="rules.removeAt(i)"
                               *ngIf="form?.value?.rules?.length > 1"style="margin-left: 10px"></i>
                            <i class="fa fa-plus cursor-pointer plus-icon" (click)="addItem('rules')"
                               style="margin-left: 10px"></i>
                        </div>
                    </div>

                </div>

            </div>
        </div>

       
</div>
    <div class="modal-footer">
        <div class="col-md-12 modal-footer-button">
            <button (click)="bsModalRef.hide()" type="button" class="btn btn-default mr-3">Cancel</button>
            <button type="submit" class="btn btn-primary">{{!modalData ? 'Submit' : 'Update'}}</button>
        </div>
    </div>
</form>
