<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{!modalData ? 'Add' : 'Edit'}} {{util?.breadcrumb}}
    </h4>
</div>

<form [formGroup]="form" (ngSubmit)="formSubmit()">
    <div class="modal-body">
        <div class="row">

            <div class="col-md-7">
                <div class="form-group">
                    <label class="required">Image</label>
                    <div class="product-images">
                        <input type="file" class="file-upload" id="image" (change)="selectImage($event)">
                        <label for="image">
                            <img [src]="'/assets/img/ic_camera.png'">
                        </label>
                        <img class="ml-4 uploaded-img" height="72" for="image" [src]="form.value.image"
                             *ngIf='form.value.image'>
                        <i class="fa fa-times-circle fa-trash-css" (click)="removeImage()"
                           *ngIf='form.value.image'></i>
                    </div>
                    <div class="text-error" *ngIf="form.controls['image'].errors?.required && showError">
                        Please select image.
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <h3 class="form-heading col-md-12">Enter Name</h3>
        <div class="col-lg-7 col-md-7 ">
            <div class="form-group">
                <label class="required">Name</label>
                <input type="text" formControlName="name" class="form-control"
                       placeholder="Name">
                       <div class="text-error" *ngIf="form.controls['name'].errors?.required && showError">
                        This field is required.
                    </div>
            </div>
        </div>
        </div>
         -->
        <!-- <div class="row">
            <h3 class="form-heading col-md-12">Short Description</h3>       

                    <div class="col-lg-10 col-md-12 ">
                        <div class="form-group">
                            <label class="required">Short Discription</label>
                            <textarea type="text" formControlName="shortDiscription" class="form-control"
                                      placeholder="Short Discription"></textarea>
                                      <div class="text-error" *ngIf="form.controls['shortDiscription'].errors?.required && showError">
                                        This field is required.
                                    </div>
                        </div>
                    </div>
                </div> -->

         

        <!-- <div formArrayName="longDiscription" class="row">

            <h3 class="form-heading col-md-10"> Long Description </h3>

            <div *ngFor="let val of form.controls.longDiscription['controls'];let i = index;let last=last"
                 [formGroupName]="i" class="col-lg-12">
                <div class="row">

                    <div class="col-lg-10 col-md-10 ">
                        <div class="form-group">
                            <label class="required">longDescription</label>
                            <textarea type="text" formControlName="longDiscription" class="form-control"
                            placeholder="long Discription"></textarea>
                            <div class="text-error" *ngIf="form.controls['longDiscription'].errors?.required && showError">
                                This field is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2">
                        <div style="    margin-top: 33px;">
                            <i class="fa fa-trash cursor-pointer delete-icon" (click)="longDiscription.removeAt(i)"
                               *ngIf="form?.value?.longDiscription?.length > 1"style="margin-left: 10px"></i>
                            <i class="fa fa-plus cursor-pointer plus-icon" (click)="addItem('longDiscription')"
                               style="margin-left: 10px"></i>
                        </div>
                    </div>

                </div>

            </div>
        </div> -->

        </div>

    <div class="modal-footer">
        <div class="col-md-12 modal-footer-button">
            <button (click)="bsModalRef.hide()" type="button" class="btn btn-default mr-3">Cancel</button>
            <button type="submit" class="btn btn-primary">{{!modalData ? 'Submit' : 'Update'}}</button>
        </div>
    </div>
</form>
